pytesseract
tesseract
google-auth-oauthlib
google-api-python-client
llama_index
unstructured[all-docs]
googleapis
jupyterlab
jupyterlab_execute_time
yfiles-jupyter-graphs
pyvis 
black
isort
ruff
jupyterlab-deck
jupyterlab_code_formatter
langchain-community
langchain-experimental
langchain-openai
llama-index 
llama-index-graph-stores-kuzu
langchain-huggingface
faiss-cpu
json-repair
openai
pandas
solara
python-dotenv
inspect-ai
docarray
wikipedia
datasets
openai
ipywidgets
langchain
langchain_openai
# llama-cpp-python[server]
streamlit
tiktoken
faiss-cpu
